@font-face {
    font-family: manrope;
    src: url(fonts/Manrope[wght].woff2);
}

h1 {
    text-align: center;
    font-family: manrope;
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

/* ETCH-A-SKETCH */

.frame-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    background-color: #FF9505;
    /* ORIGINAL ETCHASKETCH background-color: #F00E13; */
    border-radius: 25px;
}

.flex-container {
    width: 410px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5px;
}

.square {
    flex-basis: calc(100% / 16);
    max-width: 25px;
    max-height: 25px;
}

/* 16x16 option */
.large-box {
    flex-basis: calc(100% / 16);
    max-width: 25px;
    max-height: 25px;
}

/* 32x32 option */
.medium-box {
    flex-basis: calc(100% / 32);
    max-width: 12.5px;
    max-height: 12.5px;
}

/* 64x64 option */
.small-box {
    flex-basis: calc(100% / 64);
    max-width: 6.25px;
    max-height: 6.25px;
}

/* CONTROLS (BUTTONS & SLIDER) */

.controls-container {
    margin-top: 10px;
    display: flex;
    /* background-color: aqua; */
    width: 500px;
    justify-content: space-between;
    align-items: center;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
/* hides the default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.checkbox_slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .checkbox_slider {
    background-color: #FF9505;
}
  
input:focus + .checkbox_slider {
    box-shadow: 0 0 1px #FF9505;
}

input:checked + .checkbox_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

#clear_text, #color_text, #slider_text{
    text-align: center;
    font-family: manrope;
    font-size: 0.9em;
}

.btn {
    height: 40px;
    border: solid 1px #FF9505;
    border-radius: 100%;
    color: #FF9505;
    background-color: aliceblue;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; 
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* slider handle width */
    height: 25px; /* slider handle height */
    background: #FF9505; 
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* slider handle width */
    height: 25px; /* Slider handle height */
    background: #FF9505; 
    cursor: pointer; /* Cursor on hover */
}